.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* overflow-x: hidden;
  overflow-y: auto; */
  overflow: hidden;
  
}

.App__Body{

  display: flex;
  flex: 1;
 

}

.App__MainView {
  flex: 1;
  background-color: #F8F8F8;
 
  overflow: hidden;

  
  
  

}
.App__MainView__Table{
  margin: 0 auto; /* Centers horizontally */
  width: fit-content;
}

.App__MainView__Header {
  display: flex;
  justify-content: space-between;
  margin-left:  128px;
  margin-right: 16px;

  
}

.App__TopBar{ 
  z-index: 2;
 
}

.TableButton{
  background-color: #fff;
  border-radius: 4px;
  width: 109px;
  height: 36px;
  border: 1px solid #BFC7D0;
  gap: 10px;
  padding: 6px 16px 6px 16px;
  margin-right: 64px;
  margin-top: 24px;
  font-size: 14px;
  font-weight: 600;
  color: #62656C;


  
  
 }
 .TableButton img {
  max-width: 24px;
  max-height: 24px;
  margin-right: 8px;
 
  

 }

 .TableButton:hover{
  background-color:rgba(0, 0, 0, 0.05);
  transition: 1.3s;
  border-radius: 4px;
 
  border: 1px solid #BFC7D0;
  gap: 10px;
  padding: 6px 16px 6px 16px;
  margin-right: 32px;
  margin-top: 24px;
  font-size: 14px;
  font-weight: 600;
  color:#62656C;
  ;
  
 }


 @media (min-width: 768px) {
  .TableButton {
    width: auto; 
    font-size: 1.2rem;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #BFC7D0;
    gap: 10px;
    padding: 6px 16px 6px 16px;
    margin-right: 32px;
    margin-top: 24px;
    font-size: 14px;
    font-weight: 600;
    color:#62656C;
    
  }
}

/* cellphone */
@media (max-width: 767px) {
  .TableButton {
    width: 100%;
    padding: 10px 15px; 
    font-size: 1rem;
    padding: 5px 10px;

  }

.TableButton img{
  display: none;
  

}
.TableButton:hover { 
  background-color: #62656C;

}


.App__MainView__Header{
  margin: 0 auto; /* Centers horizontally */
  width: fit-content;
  padding-left: 0;
  gap: 25%;
}

}