.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.AppBody{
  display: flex;
  flex: 1;
  flex-direction: row;

}

.AppMainView {
  display: flex;
  flex: 1;
  width: 100%;
  background-color: #F8F8F8;
 overflow-x: hidden;
 justify-content: center;
 align-items: center;
 flex-direction: column;

}
.AppMainViewTable{
  display: flex;
  flex: 1;
    width: 100%;

}

.AppMainViewHeader {
  display: flex;
width: 96%;
  justify-content: space-between;
  flex-direction: row;


}

.AppTopBar{ 
  z-index: 2;
 
}

.TableButton{
  background-color: #fff;
  border-radius: 4px;
  width: 109px;
  height: 36px;
  border: 1px solid #BFC7D0;
  gap: 10px;
  padding: 6px 16px 6px 16px;
  margin-top: 24px;
  font-size: 14px;
  font-weight: 600;
  color: #62656C;
 }
 .TableButton img {
  max-width: 24px;
  max-height: 24px;
  margin-right: 8px;

 }

 .TableButton:hover{
  background-color:rgba(0, 0, 0, 0.08);
  transition: 0.6s;
  border-radius: 4px;
  border: 1px solid #BFC7D0;
  gap: 10px;
  padding: 6px 16px 6px 16px;
  margin-top: 24px;
  font-size: 14px;
  font-weight: 600;
  color:#62656C;
  ;

 }




/* cellphone */
@media (max-width: 767px) {
  .TableButton {
    width: 100%;
    padding: 10px 15px; 
    font-size: 1rem;
    padding: 5px 10px;

  }

.TableButton img{
  display: none;


}
.TableButton:hover { 
  background-color: #62656C;

}


.AppMainView__Header{
  margin: 0 auto; /* Centers horizontally */
  width: fit-content;
  padding-left: 0;
  gap: 25%;

}

.TableButton {
  width: auto; 
  font-size: 1.2rem;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #BFC7D0;
  gap: 10px;
  padding: 6px 16px 6px 16px;
  margin-top: 24px;
  font-size: 14px;
  font-weight: 600;
  color:#62656C;

}
.TableButton:hover{
  background-color:rgba(0, 0, 0, 0.05);
  transition: 1.3s;
  border-radius: 4px;
  border: 1px solid #BFC7D0;
  gap: 10px;
  padding: 6px 16px 6px 16px;
  margin-top: 24px;
  font-size: 14px;
  font-weight: 600;
  color:#62656C;
    }


}